*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
h3{
    text-align: center;
    
}
.input-field{
    position: relative;
}
.error_img{
    width: 15px;
    position: absolute;
    right: 20px;
    top:20px;
    display: none;
}
.error_msg{
    position: absolute;
    right: 40px;
    top:58px;
    color: red;
    font-size: 12px;
}
.student_heading{
    text-align: center;    
}



/* Materilized css over writing */

.input-field{
    width: 500px;
    position: relative;
}
.summer_camp_form{
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 20px;
    background: url(./images/bg-intro-desktop.png);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.studentForm{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.add_student_btn{
    width: 600px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

.formSubmissionButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.input-field-relationShip{
    width: 100%;
    padding-left: 45px;
}

.choose_label{
    font-size: 3px;
}

#imagePreview img{
    width: 75px;
    object-fit: cover;
   
}

#imagePreview{
    width: 100px;
    /* background-color: beige; */
    height: 100px;
    /* border: 1px solid black; */
    
}

.student_error{
    color: crimson;
    font-size: 13px;
    position: absolute;
    right: 10px;
    bottom: -10px;
}

/* .btn{
    
    position: relative;
}
.upload_img{
    position: absolute;
    top: 12px;
    right: 3px;
}
.upload_img{
    color: black;
} */
.uploadImage{
    color: black;
    
}
.delete_icon_btn{
    cursor: pointer;
   font-size: 40px;
}
.fileImage{
    background-color: aliceblue;
}

.invalid{
    background-color: aqua;
    padding: 16px;
}

.lottie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 270px;
    margin: 0 0 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .displaySummerCamp{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  h1{
    text-align: center;
    padding-top: 30px;
  }

  #display {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #display td, #display th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #display tr:nth-child(even){background-color: #f2f2f2;}
  
  #display tr:hover {background-color: #ddd;}
  
  #display th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

 .backToPage{
    padding-top: 30px;
    padding-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: end;
 }

 a{
    text-decoration: none;
    font-size: 20px;
    color: #04AA6D ;
 }

 #display_student {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
   
  }
  
  #display_student td, #display_studentDetails th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #display_student tr:nth-child(even){background-color: #f2f2f2;}
  
  #display_student tr:hover {background-color: #ddd;}
  
  #display_student th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #830b79;
    color: white;
  }


  .display_student{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }


  #studentP{
   padding-top: 20px;
   padding-bottom: 20px;
    width: 500px;
    /* background-color: cornflowerblue;
    border: 1px solid black; */
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .studentContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid magenta;
    color: darkred;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
  }

  #btn{
    margin-top: 60px;
    padding: 20px;
    border-radius: 25px;
    background-color: yellowgreen;
    cursor: pointer;
    border: none;
  }